.form-login {
	max-width: 500px;
}

.post-title, .a-black {
	color: black;
	text-decoration: none;
}

.post-title:hover, .a-black:hover {
	color: black;
	text-decoration: underline;
}

.post-user {
	text-decoration: none;
}

.post-user:hover {
	text-decoration: underline;
}

.post-user small, .a-black small {
	color: grey;
	font-size: 10px;
}

.account-dropdown a:hover {
	text-decoration: none;
}

.user-image {
	width: 40px;
	height: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	border-radius: 100px;
	vertical-align: middle;
	flex-shrink: 0;
}

.user-image.big {
	width: 55px;
	height: 55px;
}

.comment-text {
	width: 100%;
	word-wrap: break-word;
	padding-right: 4.5rem;
}

.profile-pic {
	color: transparent;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.3s ease;
}

.profile-pic label.hidden {
	opacity: 0;
	pointer-events: none;
}

.profile-pic input {
	display: none;
}
.profile-pic img {
	position: absolute;
	object-fit: cover;
	width: 165px;
	height: 165px;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
	border-radius: 100px;
	z-index: 0;
}
.profile-pic .upload-label {
	cursor: pointer;
	height: 165px;
	width: 165px;
}
.profile-pic:hover .upload-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .8);
	z-index: 10000;
	color: #fafafa;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100px;
	margin-bottom: 0;
}
.profile-pic span {
	display: inline-flex;
	padding: 0.2em;
	height: 2em;
}

.bi.card-img-top {
	font-size: 72px;
	text-align: center;
}

.min-h-100 {
	min-height: 100%;
}
